/********************************** RESET PROPIEDADES **********************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F2F3F4;
}


:root{
	--color-principl:#FF5722;
    --bg-aside:#1D2F3D;
    --tip-letra-footer: font-family: 'Geologica', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/************************************************************************************************************/




.content-navbar{
    position: relative;
    max-width: 85%;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.logo{
    color: var(--color-principl);
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 36px;
    text-align: center;
    float: left;
    font-weight: 700;
    text-decoration: none;
}

nav{
    float: right;
}

.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626;
}

nav ul li a:hover,
nav ul li a.active{
    background: var(--color-principl);
    color: #fff;
    transition: .5s;
}

@media (max-width: 900px) {
    header{
        margin: 20px;
    }
}

@media (max-width: 768px) {
    .menu-toggle{
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #FA8072;
    }
    .menu-toggle::before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;

    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    nav{
        display: none;
    }
    nav.active{
        display: block;
        width: 100%;
    }
    nav.active ul{
        display: block;
    }
    nav.active ul li a{
        margin: 0;
    }
}

.dropdown-item:hover{
    background: #069370;
    color: #fff;
    transition: .5s;
}



.desciption-salud{
    width: 80%;
    text-align: center;
}

/**/
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.card #icon-card {
    max-width: 100%;
    height: 100%;
    border: 1px solid red;
}

.card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.img-card{
    height: 300px;
}
.card {
    overflow: hidden;
}

.card:hover .img-card {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.card:hover h2 {
    transform: translateY(10px); /* Traslada el h2 hacia abajo 10px en el evento hover */
    transition: transform 0.3s ease; /* Transición suave para la traslación */
}



/**/
.info-far{
    width: 90%;
    margin: 0px auto;
}


main{
    width: 90%;
    margin: 0 auto;
}

.content-title {
    position: relative;
    width: 85%;
    margin: 0 auto;
    text-align: left;
    display: flex;
    align-items: center;
    height: 75vh;
}


.intert-mid{
    display: flex;
}


.intert-mid .content-title img{
	height: 100%;
	width: 100%;
}



main .content-main{
    width: 95%;
    display: flex;
    margin: 0 auto;
    padding: 0 10px;
}

.content-main .info{
    position: relative;
    min-width: 100%;
    margin: 15px 0;
    margin-right: 1%;
}


/*pagina de referencia: https://webflow.com/blog/business-website-examples  */



/* separacion arriva-abajo de los componentes padres */
.content-banner, .contenedor-imagen, main{
    margin: 15px auto;
}



.Bx-info{
    padding: 15px 0;
}

.Bx-info div h2 i{
    color: #069370;
}




footer{
    width: 85%;
    margin: 50px auto;
    display: block;
    position: relative;
}

.footer-logo{
    width: 100%;
    text-align: left;
}
.footer_content, .Contactos{
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.Contactos{
    margin-top: 100px;
    margin-bottom: 50px;
}


.footer_content .ff-col{
    width: 15%;
    margin: 0 auto;
    height: auto;
    text-align: left;
}


.footer_content .ff-col h2{
    color: #3f3e3e;
}


.footer_content .ff-col ul li{
    margin: 5px auto;
    padding: 150px auto;
}


.footer_content .ff-col ul li a{
    font-size: 20px;
    color: #b6b6b6;
    font-weight: 700;
}


.footer_content .ff-col ul li a:hover{
    color: #000;
}



.footer_content .ff-col ul li{
    padding: 15px, auto;
}